.dialog {
  left: 24px;
  top: 102px;
  position: absolute;
  background: #EEE;
  font-size: 12px;
  border: 1px solid #444;

  .section {
    padding: 3px;
  }

  .header {
    color: white;
    background: #06F;
    font-weight: bold;
    display: flex;
    justify-content: space-between;

    span {
    }

    .close {
      font-size: 16px;
      line-height: 15px;
      cursor: pointer;
    }
  }

  .gray {
    background: #DDD;
  }
}
