.space {
  &.game-win, &.game-over, &.explored {
    pointer-events: none;
  }
}

.space-100 {
  @for $i from 1 through 6 {
    &.open-#{$i - 1} {
      background-position: (-16px * ($i - 1)) -23px;
    }
  }

  &.bomb-revealed {
    background-position: -64px -39px;
  }

  &.bomb-dead {
    background-position: -32px -39px;
  }
}

.space-150 {
  @for $i from 1 through 6 {
    &.open-#{$i - 1} {
      background-position: (-24px * ($i - 1)) -35px;
    }
  }

  &.bomb-revealed {
    background-position: -96px -59px;
  }

  &.bomb-dead {
    background-position: -48px -59px;
  }
}

.space-200 {
  @for $i from 1 through 6 {
    &.open-#{$i - 1} {
      background-position: (-32px * ($i - 1)) -46px;
    }
  }

  &.bomb-revealed {
    background-position: -128px -78px;
  }

  &.bomb-dead {
    background-position: -64px -78px;
  }
}
