.dialog-game {
  table {
    background: #EEE;

    td {
      padding: 3px;
      white-space: nowrap;
    }

    input {
      width: 30px;
    }
  }

  .gray {
    background: #DDD;
  }

  .footer {
    padding: 3px;
  }
}
