.game-board {
  background: #C0C0C0;
  padding: 6px;
  border-right: 2px solid #919191;
  border-bottom: 2px solid #919191;
  border-top: 2px solid #FFF;
  border-left: 2px solid #FFF;

  .matrix {
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    border-top: 2px solid #919191;
    border-left: 2px solid #919191;
  }

  .row {
    display: flex;
  }

  .square-100 {
    background-image: url(http://minesweeperonline.com/sprite100.gif);
    width: 16px;
    height: 16px;
    cursor: pointer;

    &.blank {
      background-position: 0 -39px;
    }
  }

  .square-150 {
    background-image: url(http://minesweeperonline.com/sprite150.gif);
    width: 24px;
    height: 24px;

    &.blank {
      background-position: 0 -59px;
    }
  }

  .square-200 {
    background-image: url(http://minesweeperonline.com/sprite200.gif);
    width: 32px;
    height: 32px;

    &.blank {
      background-position: 0 -78px;
    }
  }

}
